<div class="col-md-5 well">
  <div class="row">
    <div class="col-md-6">
      <h2>Contacts</h2>
    </div>
    <div class="col-md-6" style="padding-top: 2.5%;">
      <cms-contact-list></cms-contact-list>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <cms-contact-list></cms-contact-list>
    </div>
  </div>
</div>

<div class="col-md-1">

</div>


<div class="col-md-6 well">
  <router-outlet></router-outlet>
